body{
    font-family: 'Kaushan Script', cursive;
}

body  {
    background-image: url(./images/background2.jpg);            
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    background-color: wheat;
}
.checkout-options{
    background-color: wheat;
}
.location{
    background-color: wheat;
    float: left;
}
.carousel-item{
    height: 650px;
}
.cn{
    color: wheat;
}
.bold{
    font-weight: bolder;
    font-size: 30px;
    color: royalblue;
}    
