body{
    font-family: 'Kaushan Script', cursive;
}

body  {
    background-image: url("https://st.depositphotos.com/3470617/4920/v/950/depositphotos_49203401-stock-illustration-pizza-background.jpg");
    background-color: #cccccc;